.categoryRecommendHeader h3 {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: var(--default);
  font-size: 1.2em;
  font-weight: bold;
  margin: 33px 0;
}

.categoryRecommendHeader h3::before {
  content: '';
  flex-grow: 1;
  margin: 0 16px;
  background: var(--default);
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.categoryRecommendHeader h3::after {
  content: '';
  flex-grow: 1;
  margin: 0 16px;
  background: var(--default);
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.categoryRecommendHeader span:first-child {
  color: var(--default);
}

.categoryRecommendHeader span:last-child {
  color: #e66a57;
}

.categoryTabs {
  padding-bottom: 22px;
  border-bottom: 1px solid #c9c9c9;
}

.categoryTabs .tabWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  color: var(--hover);
  font-size: 0.9em;
  letter-spacing: -1px;
}

.categoryTabs .tabWrap .tabLi {
  margin: 0 auto;
  cursor: pointer;
}

.focused {
  color: #e66a57;
}


.categoryImgBox {
  box-sizing: border-box;
  width: 85px;
  height: 126px;
  margin: 20px auto;
}

.categoryImgBox img {
  width: 100%;
  height: 100%;
}

.category_ .categoryTitle {
  width: 100px;
  height: 40px;
  margin: 0 auto;
}

.categoryTitle,
.categoryPrice {
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
  color: var(--default);
}



.category_ p {
  margin: 10px 0;
}