.choiceSection {
  display: flex;
}

.publisherChoice,
.mediaChoice {
  width: 40%;
  padding-right: 30px;
}

.readerChoice {
  width: 20%;
}

.publisherBox,
.mediaBox {
  border: 1px solid #ddd;
}

.publisherHeader h3,
.mediaHeader h3,
.readerHeader h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

.publisherImg,
.mediaImgBox img,
.readerImgBox img {
  width: 100%;
}

.publisherHeader span:first-child,
.mediaHeader span:first-child,
.readerHeader span:last-child {
  color: var(--default);
}

.publisherHeader span:last-child,
.mediaHeader span:last-child,
.readerHeader span:first-child {
  color: #e66a57;
}

/* media slide */

.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding: 0;
}

.dots_custom li {
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 9px;
  width: 9px;
  border-radius: 100%;
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: #08c1ce;
}

.slick-slide div {
  cursor: pointer;
}