.mainBanner {
  height: 360px;
}

.mainBanner_content {
  width: 60%;
  margin: 0 auto;
  border-radius: 5px;
}

.mainBanner_tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc28d;
}