


/* SearchBookBuy.jsx */


/* .searchbookdetaillisting .title_wrap {
display: flex;
}

.series{
margin-top: 2px;
width:70px;
height:12px;
cursor:pointer;
margin-right: 3px;
margin-left: 3px;
}

.sms{
width:35px;
height:12px;
cursor:pointer;
margin-top: 2px;
}


.searchbookdetailp{
font-size: 10px;
display: flex;
flex-wrap: wrap;
}

.searchbookdetailauthoretc{
display: flex;
justify-content: space-between;
}


.searchbookdetailblue{
color:#2ba5e4;
text-decoration: underline;
cursor: pointer;
}


.searchbookdetailpsec{
margin-top: 10px;
display: inline-block;
} */