.comInfo {
  width: 60%;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  font-size: 0.75em;
}

.comInfo div {
  margin: 0 20px;
  width: 250px;
}

.comInfo dt {
  margin-bottom: 10px;
}

.comInfo dd {
  font-size: 0.7em;
  color: var(--default);
}

.comInfo span {
  display: block;
  letter-spacing: -0.5px;
  margin-bottom: 3px;
}

.comInfo span a:hover {
  text-decoration: underline;
}

.linkBtn {
  padding: 3px;
  font-weight: bold;
  font-size: 0.8em;
  color: #fff;
  background-color: var(--hover);
}

.linkBtn:after {
  content: '>';
  margin-left: 3px;
  font-size: 0.6em;
}