.upperNav {
  height: 34px;
  background-color: var(--main);
  color: #fff;
}

.upperNavCon {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.leftTab_ul,
.rightTab_ul {
  display: flex;
  line-height: 34px;
}

.leftTab_li,
.rightTab_li {
  width: 65px;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
}

.rightTab_li.myPage {
  margin: 0 5px;
}

.selected {
  background-color: #fff;
  color: #000;
}

.rightTab_ul {
  font-size: 0.8em;
}

.myPage {
  display: flex;
  align-items: center;
  position: relative;
}

.myPageHover {
  width: 70px;
  top: 7px;
  left: -5px;
  padding-left: 4px;
  position: absolute;
  text-align: left;
  border: 1px solid var(--main);
  background-color: #fff;
  color: #000;
}

.myPageHover ul {
  font-size: 0.9em;
  font-weight: normal;
}

.myPageHover_li {
  line-height: 200%;
}

.myPageHover_li.mp {
  display: flex;
  align-items: center;
}