@font-face {
  font-family: 'Yes24GothicR';
  src: url('../public/font/YES24GothicR.ttf');
}

@font-face {
  font-family: 'Yes24GothicM';
  src: url('../public//font/YES24GothicM.ttf');
}

@font-face {
  font-family: 'Yes24GothicEB';
  src: url('../public//font/YES24GothicEB.ttf');
}

@font-face {
  font-family: 'Yes24GothicB';
  src: url('../public//font/YES24GothicB.ttf');
}

body {
  margin: 0;
  font-family: "YES24GothicR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}