@font-face {
  font-family: "YES24GothicR";
  font-weight: normal;
  src: url('/public/font/YES24GothicR.ttf') format("truetype");
}

body {
  margin: 0;
  font-family: "YES24GothicR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}