<<<<<<< HEAD
.mombook {
  /* display: flex; */
  /* flex-wrap: wrap; 줄 바꿈 허용 */
  border: 5px solid cadetblue;
}

.mombook > * { /* .mombook의 모든 직속 자식 요소 */
  width: calc(33.333% - 10px); /* 여백 고려한 너비 설정 */
  margin: 5px; /* 여백 추가 */
}


.booklist {
  display: flex;
  /* flex-direction: column; */
  width: 75%;
}

.button_list {
  background-color: white;
  color: #515151;
}


.bookavatar {
  border:5px solid blue;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.bookcontent{
   display: flex; 
   flex-direction: column; 
   border: 5px solid yellow; 
  width:20%; 
}

.bookcontent{
  border:5px solid green;
  font-size: 5px;

}

.booktitle{
font-size:7px;
}



.bookavatar_button {
  width: 70px;
  padding: 1px 3px;
  font-weight: bold;
  background-color: white;
  border: 7px solid violet;
  border-radius: 0.3rem;
  margin-top: none;
  font-size: 5px;
  /* display: flex; */
  color:grey;


}

.bookavatar_image {
  width: 125px;
  height: 185px;
  margin: 0.5rem 0;
  cursor:pointer;

}


.menu:hover {
  text-decoration: underline;
}

.menu {
  text-decoration: none;
  width: 250px;
  padding: 20px 20px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #ff9c46;
  border: 1px solid lightgray;

}

.nav_header {
  /* border:1px solid red; */
  width: 57%;
  margin: auto;
  /* overflow: hidden; */
  margin-bottom: 30px;
}

